header {
    height: 100px;

    display: flex;
    align-items: center;
}

.cajita {
    width: 400px;
    height: 75px;
    margin-left: 10px;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}